@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
	background: #eee;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

#shortifyBlock {
	margin: auto;
	width: 740px;
	background: #ffffff;
	box-shadow: 0 1px 5px #c6c6c6;
	padding: 25px;
	margin-top: 50px;
	border-radius: 3px;
}

#shortifyInput, #shortifyButton {	
	float: left;
	margin: 0;
	border: 1px solid #ccc;
	outline: 0;
}

#shortifyInput {
	border-radius: 5px 0 0 5px;
	padding: 0 5px;
	width: 590px;
	font-size: 16pt;
	height: 27px;
}

#shortifyButton {
	border-radius: 0 5px 5px 0;
	border-left: 0;
	font-size: 14pt;
	height: 27px;
	width: 98px;
	background: linear-gradient(to top, #e2e2e2 0%, #f5f5f5 100%);
	box-shadow: inset 0 1px 0 #fff;
	cursor: pointer;
	text-shadow: 0 1px 0 #fff;
}

#shortifyButton:hover {
	background: linear-gradient(top, #e2e2e2 0%, #f5f5f5 100%);
	box-shadow: inset 0 1px 0 #fff, 0 0 5px #c6c6c6;
}

#shortifyButton:active {
	box-shadow: inset 0 0 5px #c6c6c6;
}

#shortifyBlock > br {
	clear: both;
}

#shortifyResponse {
	width: 700px;
}

p.shortifyError, p.shortifySuccess {
	padding: 0;
	margin: 5px 0 0 0;
	padding: 5px;
}

p.shortifyError {
	background-color: #FFBABA;
	box-shadow: 0 1px 5px #bbb;
	border-radius: 3px;
	color: #D8000C;
	font-size: 10pt;
}

p.shortifySuccess {
	border-radius: 5px;
	border-bottom: 1px solid #e5e5e5;
	color: #4F8A10;
	background-color: #DFF2BF;
	font-size: 12pt;
}

.shortifyfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}
.container {
	float: left;
}

body > .container {
    padding: 60px 15px 0;
}
